<%= render 'hadir-svg' %>
<br>
<span class="active-wedding-name">Welcome</span>
<div class="result-text" style="padding-top:10px;">

  <% if @find_guest.nama != nil %><p><span class="active-wedding-name" style="font-size: 42px !important;">
              <%= @find_guest.nama %></span></p>
  <% end %>

  <% if @find_guest.guest_id != nil %><p><span class="address"><%= @find_guest.guest_id %></span></p>
  <% end %>
  <% if @find_guest.kategori != nil %><p><span class="address"><%= @find_guest.kategori %></span></p>
  <% end %>

  <% if @find_guest.alamat.present? %><p><span class="address"><%= @find_guest.alamat %></span></p>
  <% end %>

</div>
