<section class="scanning" style="padding:0 !important;margin:0 !important">
  <div class="input-qr col-sm-12">
    <select id="guest_qr_id"></select>
  </div>

  <div>
    <div class="active-wedding">
      <span class="active-wedding-name"><%= @title %></span>
    </div>
    <br>
    <div id="notice"></div>
  </div>

  <div class="input-guest col-sm-12">
    <%= form_tag update_presence_movings_path, method: "GET", id: 'form_scanning', remote: true do %>
      <%= text_field_tag "guest_code", nil, class: "form-control", autofocus: "true" %>
      <input id="eventid" name="eventid" type="hidden" value="<%= @event.id %>">
      <input id="classname" name="classname" type="hidden" value="<%= @classname %>">
    <% end %>
  </div>
</section>

<script>
    $("#submit_presence").click(function () {
        if ($("#guest_code").val() == "" || $("#guest_code").val() == undefined) {
            alert("Kode Kosong");
        }
    });

    $("#guest_qr_id").on('select2:select', function (e) {
        $.ajax({
            type: 'GET',
            url: '/movings/print_qr',
            data: {
                guest_qr: $(this).val()
            }
        });

        $.ajax({
            type: 'GET',
            url: '/movings/update_presence',
            dataType: 'script', // Tell Rails to respond with JavaScript
            data: {
                guest_code: $("#guest_qr_id").val(),
                name: "Moving",
                classname: "<%= @classname %>"
            },
            success: function () {
                setTimeout(() => {
                    $('#result').empty();
                    $('#guest_code').focus();
                    $("#guest_qr_id").val('').trigger('change');
                }, 500);
            }
        });
    });

    $(document).ready(function () {
        $('#guest_qr_id').select2({
            ajax: {
                url: '/type_of_events/getalldata',
                cache: false,
                dataType: 'JSON',
                processResults: function (data) {
                    let temp = {};
                    temp = data.data;
                    temp = $.map(temp, function (obj) {
                        obj.id = obj.guest_id;
                        if (obj.kategori) {
                            obj.text = obj.nama + ', Kategori : ' + obj.kategori;
                        } else {
                            obj.text = obj.nama;
                        }
                        return obj;
                    });
                    return {
                        results: temp
                    };
                }
            }
        });
        $("#form_scanning").bind("ajax:complete", function (event, xhr, status) {
            $('#guest_code').val('');
        });
    });
    $(window).on('blur', function () {
        $('#guest_code')[0].focus();
    });
</script>
