<nav class="navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
              data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="<%= root_path %>">
        <img alt="Reddonedigital" src="<%= image_path('logo.png') %>">
      </a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <!-- Master -->
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
             aria-expanded="false">Master <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="<%= type_of_events_path %>">Buat Type Event</a></li>
            <li><a href="<%= events_path %>">Daftar Event</a></li>
          </ul>
        </li>

        <li><a href="<%= settings_path %>">Setting</a></li>
        <li><a href="<%= scanners_path %>">Scan</a></li>

        <!-- Absensi -->
        <li class="dropdown">
          <a id="dLabel" role="button" data-toggle="dropdown" class="dropdown-toggle" data-target="#" href="#">
            Absensi <span class="caret"></span></a>
          <ul class="dropdown-menu multi-level" role="menu" aria-labelledby="dropdownMenu">
            <li><a href="<%= dashboard_absensis_path %>">Dashboard</a></li>
            <li><a href="<%= absensis_path %>">Check In</a></li>
            <li><a href="<%= souvenir_absensis_path %>">Check Out</a></li>
            <li><a href="<%= masterdata_absensis_path %>">Master</a></li>
          </ul>
        </li>

        <!-- Weddings -->
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
             aria-expanded="false">Wedding<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="<%= dashboard_weddings_path %>">Dashboard</a></li>
            <li><a href="<%= weddings_path %>">Kehadiran</a></li>
            <li><a href="<%= souvenir_weddings_path %>">Tukar Souvenir</a></li>
            <li><a href="<%= masterdata_weddings_path %>">Master</a></li>
          </ul>
        </li>

        <!-- Concert -->
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
             aria-expanded="false">Concert<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="<%= dashboard_concerts_path %>">Dashboard</a></li>
            <li><a href="<%= concerts_path %>">Kehadiran</a></li>
            <li><a href="<%= souvenir_concerts_path %>">Penukaran Kwitansi</a></li>
            <li><a href="<%= masterdata_concerts_path %>">Master</a></li>
          </ul>
        </li>

        <!-- Gathering -->
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
             aria-expanded="false">Gathering<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="<%= dashboard_gatherings_path %>">Dashboard</a></li>
            <li><a href="<%= gatherings_path %>">Kehadiran</a></li>
            <li><a href="<%= souvenir_gatherings_path %>">Check Out</a></li>
            <li><a href="<%= masterdata_gatherings_path %>">Master</a></li>
          </ul>
        </li>

        <!-- DOORPRIZE -->
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
             aria-expanded="false">UNDIAN<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="<%= undians_path %>">Lucky Draw</a></li>
            <li><a href="<%= winner_undians_path %>">List Pemenang</a></li>
          </ul>
        </li>

        <!-- MOVING -->
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
             aria-expanded="false">Moving Class<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="<%= dashboard_movings_path %>">Dashboard</a></li>
            <li><a href="<%= masterdata_movings_path %>">Master</a></li>
            <li class="divider"></li>
            <li><a href="<%= movings_path %>">Check In Registrasi</a></li>
            <li><a href="<%= class2_movings_path %>">Goodie Bag</a></li>
            <li><a href="<%= class3_movings_path %>">Ruang Seminar</a></li>
            <li><a href="<%= class4_movings_path %>">Makan Siang</a></li>
          </ul>
        </li>

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
             aria-expanded="false">Report<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="<%= report_weddings_path %>">Wedding</a></li>
            <li><a href="<%= report_concerts_path %>">Concert</a></li>
            <li><a href="<%= report_gatherings_path %>">Gathering</a></li>
            <li><a href="<%= report_absensis_path %>">Absensi</a></li>
            <li><a href="<%= report_movings_path %>">Moving Class</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>

<% unless flash.empty? %>
  <script type="text/javascript">
      <% flash.each do |f | %>
      <% type = f[0].to_s.gsub('alert', 'error').gsub('notice', 'info') %>
      toastr['<%= type %>']('<%= f[1] %>');
      <% end %>
      $(function () {
          $(".dropdown-menu > li > a.trigger").on("click", function (e) {
              const current = $(this).next();
              const grandparent = $(this).parent().parent();

              if ($(this).hasClass('left-caret') || $(this).hasClass('right-caret'))
                  $(this).toggleClass('right-caret left-caret');
              grandparent.find('.left-caret').not(this).toggleClass('right-caret left-caret');
              grandparent.find(".sub-menu:visible").not(current).hide();
              current.toggle();
              e.stopPropagation();
          });

          $(".dropdown-menu > li > a:not(.trigger)").on("click", function () {
              const root = $(this).closest('.dropdown');
              root.find('.left-caret').toggleClass('right-caret left-caret');
              root.find('.sub-menu:visible').hide();
          });
      });
  </script>
<% end %>