<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Reddonedigital</title>

    <!-- Bootstrap -->
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application' %>
    <%= javascript_include_tag 'application' %>
    <%= action_cable_meta_tag %>
  </head>
  <body class="login-page">
    <div class="container-fluid">
      <% unless flash.empty? %>
          <script type="text/javascript">
                <% flash.each do |f| %>
              <% type = f[0].to_s.gsub('alert', 'error').gsub('notice', 'info') %>
              toastr['<%= type %>']('<%= f[1] %>');
          <% end %>
          </script>
      <% end %>
      <%= yield %>
    </div>

  </body>
</html>
