<%= render 'hadir-svg' %>

<div class="active-wedding">
  <h4 style="padding-top:18px;">
    <span class="active-wedding-name">Welcome</span></h4>
  <p>
    <span class="active-wedding-name" style="font-size: 58px !important;"><%= @find_guest[0].nama %></span><br/>
    <span class="address"><%= @find_guest[0].guest_id %></span><br/>
    <span class="address"><%= @find_guest[0].alamat %></span><br/>
    <span class="address"><%= @find_guest[0].kategori %></span><br/>
    <span class="address"><%= @find_guest[0].nama_meja %></span><br/>
    <span class="address"><%= @find_guest[0].status %></span><br/>
  </p>
  </div>
