<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">
            Edit Peserta
        </h3>
    </div>
  <div class="panel-body">
    <%= simple_form_for @moving do |f| %>

    <div class="form-group">
      <label class="col-sm-2 control-label">Guest ID</label>
        <div class="col-sm-10">
          <%= f.input :guest_id, label:false, input_html: { class: 'form-control form-control-sm',style:'margin-bottom:10px;' }  %>
        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-2 control-label">Nama</label>
          <div class="col-sm-10">
            <%= f.input :nama, label:false, input_html: { class: 'form-control form-control-sm',style:'margin-bottom:10px;' }  %>
          </div>
        </div>

      <div class="form-group">
        <label class="col-sm-2 control-label">Alamat</label>
          <div class="col-sm-10">
            <%= f.input :alamat, label:false, input_html: { class: 'form-control form-control-sm',style:'margin-bottom:10px;' }  %>
          </div>
        </div>

      <div class="form-group">
        <label class="col-sm-2 control-label">Instansi</label>
          <div class="col-sm-10">
            <%= f.input :instansi, label:false, input_html: { class: 'form-control form-control-sm',style:'margin-bottom:10px;' }  %>
          </div>
        </div>

      <div class="form-group">
        <label class="col-sm-2 control-label">Jabatan</label>
          <div class="col-sm-10">
            <%= f.input :jabatan, label:false, input_html: { class: 'form-control form-control-sm',style:'margin-bottom:10px;' }  %>
          </div>
        </div>

      <div class="form-group">
        <label class="col-sm-2 control-label">Unit Kerja</label>
          <div class="col-sm-10">
            <%= f.input :unit_kerja, label:false, input_html: { class: 'form-control form-control-sm',style:'margin-bottom:10px;' }  %>
          </div>
        </div>

   <div class="form-group">
     <label class="col-sm-2 control-label">Kategori</label>
       <div class="col-sm-10">
         <%= f.input :kategori, label:false, input_html: { class: 'form-control form-control-sm',style:'margin-bottom:10px;' }  %>
       </div>
     </div>

      <div class="form-group">
        <label class="col-sm-2 control-label"></label>
          <div class="col-sm-10">
            <%= link_to "Back", master_movings_path, class:"btn btn-danger"%>
            <%= f.button :submit, "Edit Data", class:"btn btn-success" %>
          </div>
      </div>
          <% end %>
    </div>
