<div class="panel panel-default" id="master-data-concert">
  <div class="panel-heading">
    <h3 class="panel-title">Master Data</h3><br>
  </div>

  <div class="panel-body" >
    <h4><div class="alert alert-info">Data Gathering yang sedang aktif : <b><u><%= active_wedding_name %></u></b></div></h4>
    <hr>
    <div class="row">
      <%= form_tag master_gatherings_path, :method => 'GET' do %>
      <div class="col-sm-5">
      <%= text_field_tag :search,params[:search], class: "form-control form-control-sm", placeholder: "Search" %>
      <div class="checkbox col-sm">
        Pencarian :
        <label>
          <%= radio_button_tag 'checkbox',0,true%> Nama</label>
        <label>
          <%= radio_button_tag 'checkbox',1,false %> Guest ID</label>
        <label>
          <%= radio_button_tag 'checkbox',2,false %> NIP</label>
        <label>
          <%= radio_button_tag 'checkbox',3,false %> Instansi</label>
        <label>
          <%= radio_button_tag 'checkbox',4,false %> Kategori</label>
        <label>
          <%= radio_button_tag 'checkbox',5,false %> Unit Kerja</label>
        <label>
          <%= radio_button_tag 'checkbox',6,false %> Jabatan</label>
      </div>
      </div>
      <%= submit_tag "Search",class:'btn btn-success col-sm-0' %>
      <%= submit_tag "Reset", :name => "reset_button", class:'btn btn-danger col-sm-0' %>
      <%= link_to "Back", masterdata_gatherings_path, class:'btn btn-primary waves-effect' %>
      <% end %>
    </div>


    <table class="table table-hovered table-bordered margin10 pretty">
      <thead>
        <tr>
          <th style="text-align:center;vertical-align:middle"><%= sortable "guest_id", "ID" %></th>
          <th style="text-align:center;vertical-align:middle"><%= sortable "nama_peserta", "Nama"%></th>
          <th style="text-align:center;vertical-align:middle"><%= sortable "address", "Alamat" %></th>
          <th style="text-align:center;vertical-align:middle"><%= sortable "unit_kerja", "Unit Kerja" %></th>
          <th style="text-align:center;vertical-align:middle"><%= sortable "instansi", "Instansi" %></th>
          <th style="text-align:center;vertical-align:middle"><%= sortable "jabatan", "Jabatan"%></th>
          <th style="text-align:center;vertical-align:middle"><%= sortable "category", "Kategori" %></th>
          <th style="text-align:center;vertical-align:middle"><%= sortable "presence", "Status Kehadiran" %></th>
          <th style="text-align:center;vertical-align:middle"><%= sortable "time_of_entry", "Waktu Kehadiran" %></th>
          <th style="text-align:center;vertical-align:middle"><%= sortable "souvenir", "Status Souvenir" %></th>
          <th style="text-align:center;vertical-align:middle"><%= sortable "time_of_get_souvenir", "Waktu Tukar Souvenir"%></th>
          <th style="text-align:center;vertical-align:middle">Print QR</th>
          <th colspan="2" style="text-align:center;vertical-align:middle"">Action</th>
        </tr>
      </thead>
      <tbody id='list_wedding'>
        <%= render 'list_gathering' %>
      </tbody>
    </table>
    <div class="pull-right">
          <%= paginate @gatherings %>
    </div>

  </div>
</div>

<script>

</script>
