<div class="row" style="display:flex;justify-content:center">
  <div class="col-md-3 col-sm-6">
    <div class="panel-dashboard biru">
      <div class="row">
        <div class="col-sm-4">
          <i class="fa fa-users fa-5x"></i>
        </div>
        <div class="col-sm-8">
          <small>TOTAL</small>
          <p id="total_guest"><%= @total_guest.present? ? @total_guest:"-" %></p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-3 col-sm-6">
    <div class="panel-dashboard biru">
      <div class="row">
        <div class="col-sm-4">
          <i class="fa fa-users fa-5x"></i>
        </div>
        <div class="col-sm-8">
          <small>JUMLAH ORANG (REAL)</small>
          <p id="total_real_person"><%= @real_person %></p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row" style="margin: 2rem 0;display:flex;justify-content:center">
  <div class="col-md-3 col-sm-6">
    <div class="panel-dashboard hijau">
      <div class="row">
        <div class="col-sm-4">
          <i class="fa fa-check-square fa-5x"></i>
        </div>
        <div class="col-sm-8">
          <small>HADIR</small>
          <div class="row">
            <div class="col-md-3">  
                <p id="guest_sudah_hadir"><%= @guest_sudah_hadir.present? ? @guest_sudah_hadir:"-" %>
                </p>
            </div>
            <div class="col-md-2">
            <p style="margin: 0 16px"> / </p>
            </div>
            <div class="col-md-3">
              <p id="guest_sudah_hadir_jumlah" style="color:red">
              <%= @total_orang%>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-3 col-sm-6">
    <div class="panel-dashboard merah">
      <div class="row">
        <div class="col-sm-4">
          <i class="fa fa-times fa-5x"></i>
        </div>
        <div class="col-sm-8">
          <small>BELUM HADIR</small>
          <p id="guest_belum_hadir"><%= @guest_belum_hadir.present? ? @guest_belum_hadir:"-" %></p>
        </div>
      </div>
    </div>
  </div>
  
  <div class="col-md-3 col-sm-6">
    <div class="panel-dashboard kuning">
      <div class="row">
        <div class="col-sm-4">
          <i class="fa fa-american-sign-language-interpreting fa-5x"></i>
        </div>
        <div class="col-sm-8">
          <small>SOUVENIR TERAMBIL</small>
          <p id="jumlah_souvenir"><%= @jumlah_souvenir.present? ? @jumlah_souvenir:"-" %></p>
        </div>
      </div>
    </div>
  </div>
</div>

<% @feature = false %>
<% if @feature %>
<div class="row" style="padding:20px;display:flex;justify-content:center">
  <div class="col-md-3 col-sm-6">
    <div class="panel-dashboard biru">
      <div class="row">
        <div class="col-sm-4">
          <i class="fa fa-users fa-5x"></i>
        </div>
        <div class="col-sm-8">
          <small>UNDANGAN MEMPELAI WANITA</small>
          <p id="guestCountWoman"><%= @guestCountWoman.present? ? @guestCountWoman:"-" %></p>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-3 col-sm-6">
    <div class="panel-dashboard hijau">
      <div class="row">
        <div class="col-sm-4">
          <i class="fa fa-users fa-5x"></i>
        </div>
        <div class="col-sm-8">
          <small>UNDANGAN MEMPELAI PRIA</small>
          <p id="guestCountMan"><%= @guestCountMan.present? ? @guestCountMan:"-" %></p>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-3 col-sm-6">
    <div class="panel-dashboard merah">
      <div class="row">
        <div class="col-sm-4">
          <i class="fa fa-users fa-5x"></i>
        </div>
        <div class="col-sm-8">
          <small>UNDANGAN LAINNYA</small>
          <p id="guestCountOthers"><%= @guestCountOthers.present? ? @guestCountOthers:"-" %></p>
        </div>
      </div>
    </div>
  </div>
</div>
<% end %>