<section class="scanning">
  <div class="input-qr col-sm-12">
    <%= form_tag update_presence_mobile_gatherings_path, method: "GET", remote: true do %>
      <%#text_field_tag "guest_qr",nil, class:"form-control", autofocus:"true" %>
      <%= collection_select(:guest_qr, :id, Gathering.joins(event: :type_of_event).where("type_of_events.name ilike '%Gathering%'").where("events.status = TRUE"), :guest_id, :nama_peserta,  {:prompt => ''}) %>
    <% end %>
  </div>

  <div class="active-wedding" style="padding-top: 10px !important;">
<!-- <h4><span class="bg-black">THE GATHERING OF</span></h4> -->
    <h4><span class="bg-black">Check In Mobile</span></h4>

          <span class="active-wedding-name">
            <%= @settingwedd.custom_one_text.present? ? @settingwedd.custom_one_text : active_wedding_name %>
            </span><br>
            <span class="active-wedding-name">
            <%= @settingwedd.custom_two_text.present? ? @settingwedd.custom_two_text : " " %>
            <%#  active_wedding_name %>
            </span>

      </div>
      <br>
  <div id="notice"></div>

  <div class="input-guest col-sm-12">
    <%= form_tag update_presence_mobile_gatherings_path, method: "GET", id: 'form_scanning', remote: true do %>
      <%= text_field_tag "guest_code",nil, class:"form-control", autofocus:"true" %>
      <input id="name" name="name" type="hidden" value="Gatherings">
    <% end %>
  </div>
</section>


<script>

  $("#submit_presence").click(function(){
    if($("#guest_code").val() == "" || $("#guest_code").val() == undefined ){
      alert("Input cannot be null");
    }
    //else{
      //$(this).attr('href','/guests/print_no_undian?guest_code='+$("#guest_code").val());
      //window.open($(this).attr('href'),'targetWindow','toolbar=no,location=no,status=no,menubar=no,scrollbars=yes,resizable=yes,width=350,height=250');
    //}
  });

  $("#guest_qr_id").change(function(){
    $('#guest_code').val($(this).val());
    $('#guest_code').focus();
    // $.ajax({
    //   type: 'GET',
    //   url: '/gatherings/update_presence',
    //   data: {guest_code: $(this).val()},
    // });
  });
  $(document).ready(function(){
    $('#guest_qr_id').select2();

    $("#form_scanning").bind("ajax:complete", function(event,xhr,status){
      $('#guest_code').val('');
    });

  });

</script>
