$("#total_guest").html("<%= @total_guest.present? ? @total_guest:"-" %>");
$("#guest_sudah_hadir").html("<%= @guest_sudah_hadir.present? ? @guest_sudah_hadir:"-" %>");
$("#guest_sudah_hadir_jumlah").html("<%= @total_orang%>");
$("#guest_belum_hadir").html("<%= @guest_belum_hadir.present? ? @guest_belum_hadir:"-" %>");
$("#jumlah_souvenir").html("<%= @jumlah_souvenir.present? ? @jumlah_souvenir:"-" %>");

$("#total_vendor").html("<%= @total_vendor.present? ? @total_vendor:"-" %>");
$("#vendor_sudah_hadir").html("<%= @vendor_sudah_hadir.present? ? @vendor_sudah_hadir:"-" %>");
$("#vendor_belum_hadir").html("<%= @vendor_belum_hadir.present? ? @vendor_belum_hadir:"-" %>");
$("#guest_kategori").html("<% @units.each do |unit| %><tr><td><%= unit.kategori %></td><td><%= unit.total %></td><td><%= unit.hadir %></td><td><%= unit.tidakhadir %></td></tr><% end %>");

$("#list_kategori").html("<%= j (render 'list_kategori', units: @units)%>");

$("#guest_tambahan").html("<%= @total_guest_tambahan %>")
$("#guest_sudah_hadir_percentage").html("<%= number_to_percentage @guestSudahHadirPercentage, :precision => 2, :strip_insignificant_zeros => true %>")
$("#guest_belum_hadir_percentage").html("<%= number_to_percentage @guestBelumHadirPercentage, :precision => 2, :strip_insignificant_zeros => true %>")
$("#jumlah_souvenir_percentage").html("<%= number_to_percentage @jumlahSouvenirPercentage, :precision => 2, :strip_insignificant_zeros => true %>")
$("#souvenir_total").html("<%= @souvenir_total %>")

toastr['info']('Refresh data berhasil');