<div style="padding-top:10px;" >
<!-- foto ukuran 4x6 -->
 <div class="active-wedding" style="padding-top: 10px !important;">
<!-- <h4><span class="bg-black">THE WEDDING OF</span></h4> -->
         <span class="active-wedding-name" style=>Welcome To
           </span>
     </div>
<br>
<%#= if FileTest.exist?("foto/#{@find_guest[0].guest_id}.jpg")
  image_tag("foto/#{@find_guest[0].guest_id}.jpg", style:'height:354.5px;')
  else
  render 'hadir-svg' end%>
<div style="padding-top:20px;">
      <% if File.file?("app/assets/images/foto/#{@find_guest[0].guest_id}.jpeg") %>
      <%= image_tag("foto/#{@find_guest[0].guest_id}.jpg", style:'height:354.5px;') %>
      <% else %>
      <%= render 'hadir-svg' %>
      <% end %>
</div>

<div class="result-text">
  <% if @find_guest[0].guest_id != nil %><p><span class="address"><%= @find_guest[0].guest_id %></span></p><% end %>
  <% if @find_guest[0].guest_id != nil %><p><span class="name"><%= @find_guest[0].nama %></span></p><% end %>
  <% if @find_guest[0].instansi != nil %><p><span class="name"><%= @find_guest[0].instansi %></span></p><% end %>
  <% if @find_guest[0].guest_id != nil %><p><span class="address" style="font-size:22px;">Waktu Terakhir Check In :<% end %></span><br>
  <p>
  <% @terakhir.each do |last| %>
      <span class="address" style="font-size:22px;"><%= last.waktu.strftime("%H:%M:%S") %></span>
  <% end %>
  </p>
  <% if @find_guest[0].guest_id != nil %><p><span class="address" style="font-size:22px;">Waktu Terakhir Check Out :<% end %></span><br>
  <p>
  <% @terakhirkeluar.each do |last| %>
      <span class="address" style="font-size:22px;"><%= last.waktu.strftime("%H:%M:%S") %></span>
  <% end %>
  </p>
</div>
</div>
